.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;

  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  justify-content: center;
  align-items: center;
  display: flex;
}

.flip-card {
  border-radius: 0 20px 0 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}